body {
  background-color: #FFFEEE;
}

h1 {
  color: #5B9AA6;
}

.selected {
  color: #22bdf0;
}

.task-form {
  margin-top: 80px;
  margin-bottom: 80px;
}

.input-lg {
  margin: 3px;

}

.add {
  margin-top: 3px;
  margin-left: -11px;
}

.beer-icons {
  max-width:32px;
  max-height:auto;
}

.high {
  color: #B21A0A;
}

.medium {
  color: #FFB530;
}

.cheap {
  color: #41B22B;
}

.abv {
  margin: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 220px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://icons.iconarchive.com/icons/icons8/android/512/Food-Beer-Glass-icon.png) 96% / 15% no-repeat #eee;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}
.changeKeg {
  margin: 5px;
  border: 1px solid #111;
  background: transparent;
  width: 220px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(https://cdn2.iconfinder.com/data/icons/beer-icons-2/512/KegAFilled-512.png) 96% / 15% no-repeat #eee;
}
/*target Internet Explorer 9 and Internet Explorer 10:*/
@media screen and (min-width:0\0) {
    select {
        background:none;
        padding: 5px;
    }
}

@-webkit-keyframes wiggle {
  0% {
  -webkit-transform:rotate(6deg);
  }
  50% {
  -webkit-transform:rotate(-6deg);
  }
  100% {
  -webkit-transform:rotate(6deg);
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: beige;
  width: 100%;
  height: 30vh;
  top: 0;
  left: 0;
  }

.header h1 {
  font-family: 'Orbitron', sans-serif;
  font-size: 5em;
  font-weight: bold;
}

.wiggle {
  margin-top: 0vh;
  font-size: 10em;
}

.wiggle:hover {
  -webkit-animation: wiggle 0.5s infinite;
}

.barSide {
  position: absolute;
  left: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: auto;
  margin-top: 500px;
}

.inventorySide {
  padding-top: 500px;
  position: absolute;
  left: 7000px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: auto;
  margin: auto;
}

.navbar {
  margin-top: 0vh;
}
